// Mixins

@mixin flex($flow: row, $align: stretch, $justify: start, $gap: 0) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin grid($grid: none, $gridRow: auto, $gridColumn: auto) {
  display: grid;
  grid: $grid;
  grid-row: $gridRow;
  grid-column: $gridColumn;
}

@mixin respond($tamanho) {
  @if $tamanho == "grande" {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $tamanho == "acimaDamedia" {
    @media (max-width: 806px) {
      @content;
    }
  } @else if $tamanho == "medio" {
    @media (max-width: 710px) {
      @content;
    }
  } @else if $tamanho == "pequeno" {
    @media (max-width: 480px) {
      @content;
    }
  }
}

// Variaveis
$color-primary: #40916c;
$color-primary-light: #74c69d;
$color-secondary: #081c15;
$color-secondary-light: #1b4332;
$color-neutral: #d8f3dc;
$black: #000;
$white: #fff;

// Padrão
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(grande) {
    font-size: 50%;
  }

  @include respond(medio) {
    font-size: 43.75%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  color: #000;
  height: 100dvh;
  background-color: $color-primary;
}

// Estilização da main

.main {
  height: 100%;
  @include grid(repeat(2, 1fr) / repeat(4, 1fr));

  @include respond(grande) {
    @include grid(repeat(4, 200px) / repeat(4, 1fr));
    padding-top: 5rem;
  }

  &__caixa-titulo {
    max-width: 50rem;
    @include grid($gridRow: 1 / span 2, $gridColumn: 1 / span 2);
    padding: 1.6rem 2rem;
    background-color: $color-secondary;
    color: $white;

    @include respond(grande) {
      @include grid($gridRow: 1 / span 2, $gridColumn: 2 / span 2);
      max-width: 70rem;
      border-radius: 1rem;
    }

    @include respond(medio) {
      max-width: 60rem;
      @include grid($gridRow: 1 / span 2, $gridColumn: 2 / span 2);
    }

    @include respond(pequeno) {
      max-width: 100%;
      @include grid($gridRow: 1 / span 2, $gridColumn: 1 / span 5);
    }
  }

  &__caixa-cotacaoAtual {
    @include flex($align: center, $justify: space-between);
  }

  &__cotacaoAtual {
    @include flex(column, center, $justify: space-around);
    background-color: $color-primary-light;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    min-height: 20rem;

    @include respond(medio) {
      padding: 1.6rem 1rem;
      min-height: 15rem;
    }
  }

  &__valor-cotacao {
    font-size: 2.3rem;
    font-weight: 600;
    color: $black;
  }

  &__moeda {
    font-weight: 700;
    color: $color-secondary-light;
  }

  // Formulario

  &__form {
    @include grid($gridRow: 1 / span 2, $gridColumn: 3 / span 2);
    @include flex($align: center, $justify: center);

    @include respond(grande) {
      @include grid($gridRow: 3 / span 2, $gridColumn: 2 / span 2);
    }
  }

  &__conteudoForm {
    @include flex(column, $align: center, $gap: 4.88rem);
    background-color: $color-secondary-light;
    min-width: 60rem;
    border-radius: 1rem;
    padding: 2rem 2.5rem;

    @include respond(pequeno) {
      min-width: 100%;
    }
  }

  &__resultConversao {
    @include flex($align: center, $justify: center);
    background-color: $color-neutral;
    border-radius: 1rem;
    width: 40%;
    height: 15rem;
    font-size: 2.76rem;
    font-weight: 700;

    @include respond(pequeno) {
      width: 100%;
    }
  }

  &__inputContainer {
    @include flex(column, center, $gap: 1.6rem);
    max-height: 7.1rem;
    width: 100%;
  }

  &__moedaCampo {
    font-size: 1.92rem;
    border-radius: 1rem;
    width: 60%;
    padding: 0.65rem 1.28rem;
    border: none;

    @include respond(pequeno) {
      width: 90%;
    }
  }

  &__error {
    border: 3px solid red;
  }

  &__errorText {
    color: lighten(red, 15%);
  }

  &__moedaSelect {
    font-size: 1.92rem;
    border-radius: 1rem;
    width: 60%;
    padding: 0.65rem 1.28rem;
    border: none;

    @include respond(pequeno) {
      width: 90%;
    }
  }

  &__btnConverte {
    font-size: 2.3rem;
    border-radius: 1rem;
    width: 40%;
    padding: 0.65rem 1.28rem;
    border: none;
    background-color: $color-secondary;
    color: $color-neutral;
    transition: all 0.4s ease-in;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
      color: $black;
    }

    @include respond(pequeno) {
      width: 100%;
    }
  }
}
